<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{admin.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{admin.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/admins}" class="btn btn-secondary">[[#{admin.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('admin')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='admin', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='admin', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='admin', field='email', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='admin', field='password', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='admin', field='role', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='admin', field='listDiskon', type='multiselect')}" />
                <div th:replace="~{fragments/forms::inputRow(object='admin', field='listArmada', type='multiselect')}" />
                <div th:replace="~{fragments/forms::inputRow(object='admin', field='listComplain', type='multiselect')}" />
                <div th:replace="~{fragments/forms::inputRow(object='admin', field='listJadwal', type='multiselect')}" />
                <input type="submit" th:value="#{admin.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
