<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{bannerImage.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{bannerImage.list.headline}]]</h1>
                <div>
                    <a th:href="@{/bannerImages/add}" class="btn btn-primary ms-2">[[#{bannerImage.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${bannerImages.empty}">[[#{bannerImage.list.empty}]]</div>
            <div th:if="${!bannerImages.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{bannerImage.id.label}]]</th>
                            <th scope="col">[[#{bannerImage.name.label}]]</th>
                            <th scope="col">[[#{bannerImage.img.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bannerImage : ${bannerImages}">
                            <td>[[${bannerImage.id}]]</td>
                            <td>[[${bannerImage.name}]]</td>
                            <td>[[${bannerImage.img}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/bannerImages/edit/{id}(id=${bannerImage.id})}" class="btn btn-sm btn-secondary">[[#{bannerImage.list.edit}]]</a>
                                    <form th:action="@{/bannerImages/delete/{id}(id=${bannerImage.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{bannerImage.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
