<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{kota.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{kota.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/kotas}" class="btn btn-secondary">[[#{kota.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('kota')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='kota', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='kota', field='name')}" />
                <input type="submit" th:value="#{kota.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
