<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{itinerari.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{itinerari.add.headline}]]</h1>
                <div>
                    <a th:href="@{/itineraris}" class="btn btn-secondary">[[#{itinerari.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('itinerari')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='itinerari', field='title')}" />
                <div th:replace="~{fragments/forms::inputRow(object='itinerari', field='deskripsi', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='itinerari', field='listDestinasi', type='multiselect')}" />
                <div th:replace="~{fragments/forms::inputRow(object='itinerari', field='listJadwal', type='multiselect')}" />
                <input type="submit" th:value="#{itinerari.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
