<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{users.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{users.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/userss}" class="btn btn-secondary">[[#{users.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('users')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='users', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='users', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='users', field='email', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='users', field='emailVerifiedAt')}" />
                <div th:replace="~{fragments/forms::inputRow(object='users', field='password', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='users', field='rememberToken')}" />
                <div th:replace="~{fragments/forms::inputRow(object='users', field='createdAt')}" />
                <div th:replace="~{fragments/forms::inputRow(object='users', field='updatedAt')}" />
                <div th:replace="~{fragments/forms::inputRow(object='users', field='permissions', type='textarea')}" />
                <input type="submit" th:value="#{users.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
