<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{users.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{users.list.headline}]]</h1>
                <div>
                    <a th:href="@{/userss/add}" class="btn btn-primary ms-2">[[#{users.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${userses.empty}">[[#{users.list.empty}]]</div>
            <div th:if="${!userses.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{users.id.label}]]</th>
                            <th scope="col">[[#{users.name.label}]]</th>
                            <th scope="col">[[#{users.email.label}]]</th>
                            <th scope="col">[[#{users.emailVerifiedAt.label}]]</th>
                            <th scope="col">[[#{users.password.label}]]</th>
                            <th scope="col">[[#{users.rememberToken.label}]]</th>
                            <th scope="col">[[#{users.createdAt.label}]]</th>
                            <th scope="col">[[#{users.updatedAt.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="users : ${userses}">
                            <td>[[${users.id}]]</td>
                            <td>[[${users.name}]]</td>
                            <td>[[${users.email}]]</td>
                            <td>[[${users.emailVerifiedAt}]]</td>
                            <td>[[${users.password}]]</td>
                            <td>[[${users.rememberToken}]]</td>
                            <td>[[${users.createdAt}]]</td>
                            <td>[[${users.updatedAt}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/userss/edit/{id}(id=${users.id})}" class="btn btn-sm btn-secondary">[[#{users.list.edit}]]</a>
                                    <form th:action="@{/userss/delete/{id}(id=${users.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{users.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
