<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{cabang.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{cabang.list.headline}]]</h1>
                <div>
                    <a th:href="@{/cabangs/add}" class="btn btn-primary ms-2">[[#{cabang.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${cabangs.empty}">[[#{cabang.list.empty}]]</div>
            <div th:if="${!cabangs.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{cabang.id.label}]]</th>
                            <th scope="col">[[#{cabang.name.label}]]</th>
                            <th scope="col">[[#{cabang.kotaId.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cabang : ${cabangs}">
                            <td>[[${cabang.id}]]</td>
                            <td>[[${cabang.name}]]</td>
                            <td>[[${cabang.kotaId}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/cabangs/edit/{id}(id=${cabang.id})}" class="btn btn-sm btn-secondary">[[#{cabang.list.edit}]]</a>
                                    <form th:action="@{/cabangs/delete/{id}(id=${cabang.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{cabang.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
